<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../bootstrap-4/css/bootstrap.min.css" rel="stylesheet">
    <script src="../bootstrap-4/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="container" id="basic-01">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2>{{title}}</h2>
                <div class="form-group">
                    <label>Add phone</label>
                    <input type="text" name="phone" placeholder="Phone name?" v-model="item.name" />
                    <input type="number" name="price" placeholder="price?" v-model="item.price" />
                    <button type="button" class="add-phone" v-on:click="addItem">Add</button>
                    <br/>
                    <span>Count:{{count}}</span>
                    <br/>
                    <span>price:{{price}}</span>
                </div>
                <h3>Lists all</h3>
                <ul class="list-group">
                    <li class="list-group-item" v-for="(item,index) in items">{{item.name}}</li>
                </ul>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>
<script src="../bootstrap-4/js/bootstrap.min.js"></script>
<script>
    var items= [
        {
            "name": "Iphone 6 64GB",
            "price":6000000
        },
        {
            "name": "Xiaomi Note 4 32GB",
            "price":4000000
        }
    ];
    var app = new Vue({
        el: '#basic-01',
        data: {
            title: "Shop phone",//title app
            item:{},// push item from input 
            items: items,
            count:items.length,//length items 
            price:0 //price
        },
        created:function () {
           this.sumPrice();
        },
        methods:{

            //function add item
            addItem:function(){
                console.log(this.item.name);
                //add item push items
                this.items.push({
                    "name":this.item.name,
                    "price":this.item.price
                })
                
               
                //update count
                this.count=this.items.length;

                //update price
                this.price = parseInt(this.price)+parseInt(this.item.price);

                 //empty input 
                 this.item.name=null;
                 this.item.price=null;

            },

            //function sum price items
            sumPrice:function(){
                items.forEach(element => {
                    this.price+=parseInt(element.price);
                });
            }  
        }
    })


</script>

</html>